@model IEnumerable<Todo>

<h1>Todo List</h1>
<a href="/Todo/Create">Create New Task</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Title</td>
                <td>@todo.Description</td>
                <td>@todo.Deadline</td>
                <td>@todo.Status</td>
                <td>
                    <a href="/Todo/Update/@todo.Id">Edit</a>
                    <a href="/Todo/Complete/@todo.Id">Mark Complete</a>
                    <a href="/Todo/Delete/@todo.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
